@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #fff;
  --secondary-light: rgb(255, 239, 239);
  --primary-black: #2e2e2e;
  --secondary-black: #3c3c3c;
  --background-black: #1d1d1d;
  --primary-color: #ffb80e;
  --secondary-color: #e32929;
}

img {
  width: 100%;
  max-width: 600px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  font-size: clamp(16px, 1vw, 18px);
}

a {
  text-decoration: none;
  color: var(--secondary-black);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  color: var(--secondary-black);
}

p {
  color: var(--primary-black);
  line-height: 180%;
}

.container {
  padding: 1em 1em;
  margin: 0 auto;
  max-width: 1600px;
}

.btn {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.35em 1.2em;
  color: var(--primary-light);
  background: var(--secondary-color);
  text-transform: uppercase;
  font-size: 0.9rem;
  border-radius: 2px;
}

.sub-btn {
  color: var(--primary-light);
}

/* navbar section  */
.navbar {
  background-color: var(--primary-color);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-weight: bold;
}
.nav-list {
  display: flex;
  gap: 1em;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  font-size: 0.7rem;
  font-weight: bold;
}

.nav-icon {
  width: 1.3rem;
  display: inline-block;
  margin-right: 0.2em;
}

/* hero section */
.hero {
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.6)),
    url('assets/Hero/HeroBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: left;
}

.hero-content {
  position: relative;
  top: -30px;
  max-width: 280px;
}

.hero-title {
  color: var(--primary-light);
  font-size: 3.5rem;
  line-height: 100%;
  border-bottom: var(--primary-color) solid 5px;
  border-right: var(--primary-color) solid 5px;
}

.hero-subtitle {
  color: var(--primary-light);
  font-size: 1.8rem;
  letter-spacing: 3px;
}

/* comida y platos destacados */
.comida-destacada {
  background-color: var(--background-black);
}
.comida-card {
  background-color: var(--primary-color);
  padding: 1em 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.comida-card-title {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-size: 1.5rem;
}
.comida-card-price {
  margin: 0.2em 0;
  font-size: 1.8rem;
}
@media only screen and (min-width: 700px) {
}

@media only screen and (min-width: 1265px) {
}
