@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #fff;
  --secondary-light: rgb(207, 207, 207);
  --primary-black: #2e2e2e;
  --secondary-black: #3c3c3c;
  --background-black: #1d1d1d;
  --primary-color: #ffb80e;
  --secondary-color: #e32929;
}

img {
  width: 100%;
  max-width: 600px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: var(--secondary-black);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  color: var(--secondary-black);
}

p {
  color: var(--primary-black);
  line-height: 180%;
}

.container {
  padding: 1em 1em;
  margin: 0 auto;
  max-width: 1600px;
}

.sub-container {
  padding: 1em 1em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.35em 2em;
  color: var(--primary-light);
  background: var(--secondary-color);
  text-transform: uppercase;
  font-size: clamp(0.9rem, 2vw, 1rem);
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: capitalize;
}

.btn-yellow {
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: bold;
  margin: 0.2em 0;
  padding: 0.4em 1.4em;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 1px;
}

.sub-btn {
  color: var(--secondary-light);
  font-weight: bold;
  letter-spacing: 1px;
}

/* navbar section  */
.navbar {
  background-color: var(--primary-color);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-weight: bold;
  font-size: clamp(0.7rem, 2vw, 1.3rem);
}
.nav-list {
  display: flex;
  gap: 1em;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: bold;
}

.nav-icon {
  width: 1.3rem;
  display: inline-block;
  margin-right: 0.2em;
}

/* hero section */
.hero {
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.627), rgba(0, 0, 0, 0.6)),
    url('assets/Hero/HeroBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: left;
}

.hero-content {
  position: relative;
  top: -30px;
  width: clamp(250px, 32vw, 400px);
}

.hero-title {
  color: var(--primary-light);
  font-size: clamp(3.5rem, 6vw, 6rem);
  line-height: 100%;
  border-bottom: var(--primary-color) solid 5px;
  border-right: var(--primary-color) solid 5px;
}

.hero-subtitle {
  color: var(--primary-light);
  font-size: 1.8rem;
  letter-spacing: 3px;
}

/* comida y platos destacados */
.comida-destacada {
  background-color: var(--background-black);
}

.comida-destacada .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comida-card {
  background-color: var(--primary-color);
  padding: 1em 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  max-width: 350px;
}
.comida-card-title {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.comida-content {
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comida-card-price {
  margin: 0.2em 0;
  font-size: 1.8rem;
}

.comida-title {
  color: var(--primary-light);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 1em;
  font-size: clamp(1.2rem, 4.2vw, 3rem);
}

/* division con imagenes section  */
.division-imgs {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.division-imgs .container {
  display: flex;
  flex-direction: column;

  gap: 1em;
}

/* contact section  */
.contact {
  background-color: var(--background-black);
}

.contact .container {
  padding: 0;
  margin: 0;
}

.contact p,
.contact h4 {
  color: var(--primary-light);
}

.contact p {
  margin: 0.6em 0;
}

.contact-content {
  margin-top: 1em;
}

.contact-subtitle {
  color: var(--primary-light);
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
  font-size: clamp(1rem, 3vw, 2.3rem);
}

.contact-title {
  color: var(--primary-light);
  letter-spacing: 3px;
  text-align: center;
  font-size: clamp(1.2rem, 4.2vw, 3rem);
}

.contact-columns {
  display: flex;
  flex-direction: column;
}

.contact-social-content {
  margin-bottom: 1.5em;
}

.contact-location-content {
  margin: 1.5em 0 2em 0;
}

.contact-location {
  background-color: var(--secondary-color);
}

.contact-social-title {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.contact-location-title {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.contact-btn-whatsapp-icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
}

.contact-btn-location-icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
}

/* footer section  */
footer {
  background-color: var(--primary-color);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 2em;
  margin: 1em auto;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  color: var(--primary-black);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.footer-link-img {
  max-width: 30px;
  width: 40px;
}

.footer-p {
  color: var(--secondary-black);
  text-align: center;
}

.plupweb-link {
  color: var(--background-black);
}

@media only screen and (min-width: 700px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    padding: 2em 2em;
    margin: 0 auto;
  }

  .sub-container {
    padding: 0;
    margin: 0;
  }

  /* navbar section */
  .navbar .container {
    padding: 1em 2em;
  }

  /* hero section */

  .hero-subtitle {
    font-size: 2rem;
  }

  /* comidas destacadas section */
  .comida-cards {
    display: flex;
    gap: clamp(1rem, 3vw, 5rem);
  }
  .comida-cards > * {
    flex-basis: 0;
    flex-grow: 1;
  }
  .comida-card {
    max-width: 350px;
  }

  .comida-card:nth-child(2) {
    position: relative;
    top: -1.5rem;
  }

  /* division con imagnes section */
  .division-imgs .container {
    flex-direction: row;
    gap: 2em;
  }

  /* contact section  */
  .contact .container {
    padding: 2em 2em;
    margin: 0 auto;
  }
  .contact-content {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .contact-columns {
    flex-direction: row;
  }

  .contact-columns > * {
    flex-basis: 0;
    flex-grow: 1;
  }
  .contact-social-content {
    margin-bottom: 1.5em;
    padding: 3em;
  }

  .contact-location-content {
    margin: 1.5em 0 2em 0;
    padding: 2em;
  }

  /* footer section */
  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'logo list'
      'p  p';
  }
  .footer-logo {
    grid-area: logo;
    justify-self: start;
  }
  .footer-list {
    grid-area: list;
    margin: 0;
    justify-self: end;
  }
  .footer-p {
    grid-area: p;
  }
}

@media only screen and (min-width: 1265px) {
  /* comida section */
  .comida-cards {
    display: flex;
    gap: clamp(1rem, 6vw, 5rem);
  }

  /* division con imagnes section */
  .division-imgs .container {
    gap: 5em;
  }
  /* contact section  */
  .contact-columns {
    align-items: center;
    justify-content: center;
  }
}
