@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #fff;
  --secondary-light: rgb(207, 207, 207);
  --primary-black: #2e2e2e;
  --secondary-black: #3c3c3c;
  --background-black: #1d1d1d;
  --primary-color: #ffb80e;
  --secondary-color: #e32929;
}

img {
  width: 100%;
  max-width: 600px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: var(--secondary-black);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  color: var(--secondary-black);
}

p {
  color: var(--primary-black);
  line-height: 180%;
}

.container {
  padding: 1em 1em;
  margin: 0 auto;
  max-width: 1600px;
}

.sub-container {
  padding: 1em 1em;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.35em 2em;
  color: var(--primary-light);
  background: var(--secondary-color);
  text-transform: uppercase;
  font-size: clamp(0.9rem, 2vw, 1rem);
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 1px;
  font-weight: normal;
  text-transform: capitalize;
}

.btn-yellow {
  display: inline-block;
  background-color: var(--primary-color);
  font-weight: bold;
  margin: 0.2em 0;
  padding: 0.4em 1.4em;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
  letter-spacing: 1px;
}

.sub-btn {
  color: var(--secondary-light);
  font-weight: bold;
  letter-spacing: 1px;
}

/* navbar section  */
.navbar {
  background-color: var(--primary-color);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-weight: bold;
  font-size: clamp(0.7rem, 2vw, 1.3rem);
}
.nav-list {
  display: flex;
  gap: 1em;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: bold;
}

.nav-icon {
  width: 1.3rem;
  display: inline-block;
  margin-right: 0.2em;
}

/* menu title section */
.menu-main-title {
  color: var(--primary-light);
  background-color: var(--background-black);
  text-align: center;
  padding: 0.3em 0;
  font-weight: normal;
  min-height: 50px;
  font-size: clamp(1rem, 20vw, 2rem);
}
.menu-divition {
  height: clamp(50px, 3vh, 100px);
  background-color: var(--secondary-color);
}

/* menu section  */
.menu {
  background-color: var(--primary-color);
}
.menu-title {
  font-weight: normal;
  font-size: clamp(2.3rem, 1vw, 2rem);
}

.menu-col-r,
.menu-col-l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
}
.menu-item-title {
  font-weight: bold;
}
.menu-price {
  font-weight: bold;
  margin-bottom: 0.4em;
}
.menu-btn {
  display: inline-block;
  text-align: center;
  margin: 0.5em auto 1.7em auto;
}

/* contact section  */
.contact {
  background-color: var(--background-black);
}

.contact .container {
  padding: 0;
  margin: 0;
}

.contact p,
.contact h4 {
  color: var(--primary-light);
}

.contact p {
  margin: 0.6em 0;
}

.contact-content {
  margin-top: 1em;
}

.contact-subtitle {
  color: var(--primary-light);
  font-weight: normal;
  letter-spacing: 3px;
  text-align: center;
  font-size: clamp(1rem, 3vw, 2.3rem);
}

.contact-title {
  color: var(--primary-light);
  letter-spacing: 3px;
  text-align: center;
  font-size: clamp(1.2rem, 4.2vw, 3rem);
}

.contact-columns {
  display: flex;
  flex-direction: column;
}

.contact-social-content {
  margin-bottom: 1.5em;
}

.contact-location-content {
  margin: 1.5em 0 2em 0;
}

.contact-location {
  background-color: var(--secondary-color);
}

.contact-social-title {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.contact-location-title {
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.contact-btn-whatsapp-icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
}

.contact-btn-location-icon {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
}

/* footer section  */
footer {
  background-color: var(--primary-color);
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;
  gap: 2em;
  margin: 1em auto;
  align-items: center;
}

.footer-logo {
  display: inline-block;
  color: var(--primary-black);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.footer-link-img {
  max-width: 30px;
  width: 40px;
}

.footer-p {
  color: var(--secondary-black);
  text-align: center;
}

.plupweb-link {
  color: var(--background-black);
}

@media only screen and (min-width: 700px) {
  h2 {
    font-size: 2rem;
  }

  .container {
    padding: 2em 2em;
    margin: 0 auto;
  }

  .sub-container {
    padding: 0;
    margin: 0;
  }

  /* navbar section */
  .navbar .container {
    padding: 1em 2em;
  }

  /* menu section */
  .menu .container {
    padding: 1em 3em;
  }
  .menu-cols {
    display: flex;
    gap: 2em;
    justify-content: space-between;
  }

  .menu-cols > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  .menu-btn {
    margin: 1.3em auto 3em auto;
  }

  /* contact section  */
  .contact .container {
    padding: 2em 2em;
    margin: 0 auto;
  }
  .contact-content {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .contact-columns {
    flex-direction: row;
  }

  .contact-columns > * {
    flex-basis: 0;
    flex-grow: 1;
  }
  .contact-social-content {
    margin-bottom: 1.5em;
    padding: 3em;
  }

  .contact-location-content {
    margin: 1.5em 0 2em 0;
    padding: 2em;
  }

  /* footer section */
  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'logo list'
      'p  p';
  }
  .footer-logo {
    grid-area: logo;
    justify-self: start;
  }
  .footer-list {
    grid-area: list;
    margin: 0;
    justify-self: end;
  }
  .footer-p {
    grid-area: p;
  }
}

@media only screen and (min-width: 1265px) {
  /* contact section  */
  .contact-columns {
    align-items: center;
    justify-content: center;
  }
  /* menu section */
  .menu .container {
    padding: 1em 10em;
  }
  .menu-cols {
    gap: 6em;
  }
  .menu-title {
    margin-bottom: 0.7em;
  }
  .menu-item {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-bottom: 0.4em;
  }

  /* menu section 2 */
  .menu .pt-10 {
    padding-top: 3em;
  }
}
